{% extends 'base.html.twig' %}

{% block head %}
    {% endblock %}

{%  block body %}
<h4>Comments</h4>


<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>

{% endblock %}